@-moz-document domain("boards.4chan.org") {

#thread-watcher > .move {
    color: transparent !important;
    height: 18px !important;
    width: 144px !important;
    margin-top: -35px !important;
    z-index: 800 !important;
    position: absolute !important;
    }

.refresh,
a.fa.fa-times {
    display: none !important;
    }   
    
#thread-watcher .menu-button,
#thread-watcher .menu-button:hover {
    color: transparent !important;
    width: 10px !important;
    top: -13px !important;
    right: -13px !important;
    } 
    
}