@-moz-document domain("boards.4chan.org") {

/**
    Main Layout
*/

.ad-plea,
#thread-watcher .move > .close,
#qr .close,
#qr #autohide,
.boardBanner > img,
.boardTitle,
.boardSubtitle,
#copyright,
.deleteform,
.postingMode,
.stylechanger,
.postForm,
.extButton,
h1,
hr,
div.center,
#hideBtn,
#absbot,
.hide-reply-button.stub a::before{
  display: none !important;
}

body {
  margin-top: 20px !important;
  font-family: "Lucida Grande", sans-serif !important;
}

*:active, *:focus {
  outline: none !important;
}

.board {
  margin-right: 23px !important;
  margin-left: 190px !important;
  margin-top: -5px !important;
}

/**
    Top and side bar
*/

#board-list::before {
  display: inline !important;
  content: "" !important;
  background: #3d444e !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 38px !important;
}

#shortcuts::after {
  content: "" !important;
  position: fixed !important;
  height: 100% !important;
  width: 166px !important;
  border-right: 1px solid #dedede !important;
  top: 0px !important;
  left: 0px !important;
  right: auto !important;
  bottom: auto !important;
  background: #fff !important;
  z-index: -9999 !important;
}

#board-list::after {
  text-align: center !important;
  content: "BOARDS" !important;
  width: 166px !important;
  background: #f4f5f5 !important;
  font-size: 10pt !important;
  position: fixed !important;
  padding: 4px 0 6px 0 !important;
  top: 38px !important;
  left: 0 !important;
}

#header-bar {
  top: 30px !important;
  height: 0px !important;
  width: 158px !important;
  box-shadow: none !important;
  font-family: "Lucida Grande", sans-serif !important;
}

#notifications {
  position: fixed !important;
  top: 5px !important;
  left: 50px !important;
  height: auto !important;
  width: auto !important;
}

#shortcuts {
  position: fixed !important;
  top: 5000px !important;
}

#board-list a {
  padding-right: 50px !important;
  white-space: pre;
}

#header-bar.autohide #board-list::before,
#header-bar.autohide {
  transform: none !important;
  transition: none !important;
}

#header-bar.autohide #board-list::after,
#header-bar.autohide #board-list,
#header-bar.autohide #shortcuts::after,
.autohide #thread-watcher.dialog,
.autohide #thread-stats,
.autohide #update-timer,
.autohide #update-status.new  {
  left: -500px !important;
}

.autohide body {
  margin-left: -167px !important;
}

#board-list {
  position: fixed !important;
  top: 69px !important;
  height: 100% !important;
  width: 158px !important;
  text-align: left !important;
}

#custom-board-list {
  display: inline !important;
}

#full-board-list a {
  white-space:normal!important;
  margin:0!important;
  margin-right:-50px!important;
}

#full-board-list {
  display:inline !important;
  visibility: hidden !important;
  padding:5px 0 !important;
  position:fixed!important;
  top:-50px!important;
  left:180px!important;
  width: 500px !important;
  text-align: center !important;
  background-color:#fff!important;
  border:solid 5px #3d444e!important;
  border-radius: 0 0 5px 5px!important;
  transition: all 0.5s ease;
  z-index: -10 !important;
}

#full-board-list:not([Hidden]) {
  visibility: visible !important;
  top: 35px !important;
  bottom: auto !important;
  transition: all 0.5s ease;
}

#custom-board-list a[href="javascript:;"],
#full-board-list a[href="javascript:;"] {
  padding:0!important;
  padding-right:5px!important;
  padding-left:5px!important;
}

.hide-board-list-button {
  display:inherit!important;
  font-size:9pt!important;
  position:fixed!important;
  top: 43px !important;
  left:110px!important;
  z-index:500!important;
  background:#f4f5f5!important;
  width:10px!important;
  padding:0!important;
}

.show-board-list-button {
  display:inherit!important;
  position:fixed!important;
  top: 43px !important;
  left:112px!important;
  z-index:499!important;
}

#full-board-list {
  color:transparent!important;
}

#boardNavDesktopFoot,
#boardNavDesktopFoot .current {
  display:inline!important;
  position:fixed!important;
  font-size: 0 !important;
  top:5000px!important;
}

#boardNavDesktopFoot .current::after {
  position: fixed !important;
  top: 8px !important;
  left: 10px !important;
  font-size: 12pt !important;
  content: attr(title) !important;
  color: #fff !important;
  font-weight: normal !important;
  z-index: 999 !important;
}

#board-list .current ~ .current {
  display: none !important;
}

#board-list .current {
  padding: 0 0 0 2px !important;
  border-bottom: none !important;
}

#delform {
  border: none !important;
  background: none !important;
}

.post {
  border-radius: 5px !important;
}

.postContainer {
  position: relative !important;
  background-color: #fff !important;
  min-width: 100% !important;
  margin-top: 5px !important;
  margin-bottom: 8px !important;
  border-radius: 5px !important;
  box-shadow: -1px 1px 1px rgba(0,0,0,.08);
}

.post.op {
  margin-top: 25px !important;
}

.expanded-image,
.threadOP {
  clear: none !important;
}

.threadContainer {
  padding-left:20px!important;
  margin-left:0px!important;
}

.replylink {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 1px !important;
  color: #069 !important;
  text-decoration: none !important;
  font-size: 9pt !important;
}

.summary {
  position:absolute!important;
  right:32px!important;
  margin-top:-32px!important;
  z-index:1!important;
  font-size:9pt!important;
}

.postNum span {
  font-size: 0 !important;
}

.post.reply {
  background: transparent !important;
  border-right: none !important;
  border-bottom: none !important;
  width: 99.5% !important;
}

#qp {
  box-shadow: none !important;
  border: none !important;
}

#qp .postContainer {
  border: 1px solid rgba(0,0,0,.1) !important;
}

#qp .menu-button {
  display: none !important;
}

#qp .post.op{
  margin: 0 !important;
}

#qp .yourPost .post.reply {
  border-left:none!important;
}

.inline.crosspost .postContainer.replyContainer{
  border: 1px solid #ccc !important;
}

.inline {
  box-shadow: none !important;
  border: none !important;
  margin: 0px !important;
  margin-left: 10px !important;
  max-width: 80% !important;
  background: transparent !important;
}

.inline .opContainer,
.inline .postContainer{
  background: #ffffff !important;
  border: 1px solid rgba(0,0,0,.1) !important;
  box-shadow: none !important;
}

.inline .menu-button {
  display: none !important;
}

.backlink,
.inline .backlink,
.postMessage a,
#credits a {
  text-decoration: none !important;
}

.opContainer.qphl {
  box-shadow: none !important;
}

.opContainer {
  height: 100% !important;
  width: 100% !important;
}

.op {
  display: table !important;
  height: 100% !important;
  width: 100% !important;
  padding-bottom:3px!important;
}

/*.op::after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}*/


.watch-thread-link {
  position: relative !important;
  top: 5px !important;
  left: -2px !important;
  width: 13px !important;
}

.watch-thread-link.watched {
  opacity: 0.5 !important;
}

.postInfo {
  margin-left: 8px !important;
  margin-top: 2px !important;
  width: auto !important;
  display: block !important;
}

.postInfo input[type="checkbox"] {
  display: none !important;
}

.fileText {
  margin-left: 8px !important;
}

.op .fileText {
  padding-top: 5px !important;
  margin-left: 10px !important;
}

.postMessage {
  margin-left: 10px !important;
  margin-top: 7px !important;
}

.fileThumb > img:first-child {
  margin-left: -10px !important;
  color:pink!important;
}

.fileDeleted {
  padding-left:17px!important;
}

.navLinks,
.cataloglink {
  font-size: 0 !important;
}

#index-search {
  margin-left: 190px !important;
}

.cataloglink a::after,
.navLinks.navLinksBot a[href*="catalog"]::before {
  content: "Catalog";
  position: fixed !important;
  right: 105px !important;
  top: 8px !important;
  z-index: 36 !important;
  font-size: 10pt !important;
  font-family: "Lucida Grande", sans-serif !important;
}

.cataloglink a::before,
.navLinks.navLinksBot a[href*="catalog"]::after {
  content: "|";
  position: fixed !important;
  right: 87px !important;
  top: 8px !important;
  z-index: 36 !important;
  font-size: 10pt !important;
  font-family: "Lucida Grande", sans-serif !important;
  pointer-events: none!important;
}

.settings-link {
  position: fixed !important;
  top: 8px !important;
  right: 28px !important;
  font-size: 0 !important;
}

.settings-link.fa-wrench:before {
  font-family: "Lucida Grande", sans-serif !important;
  content: "Settings" !important;
  font-size: 10pt !important;
  font-weight: normal !important;
  width: 0 !important;
}

#menu.dialog:not(.left) {
  position: fixed !important;
  right: 0px !important;
  top: 36px !important;
  left: auto !important;
  bottom: auto !important;
  transition: 0.5s color ease;
  width: 120px !important;
  height: auto !important;
  z-index: 100 !important;
  border:4px solid #3d444e!important;
  border-bottom-left-radius:5px!important;
  border-bottom-right-radius:5px!important;
}

#menu.dialog:not(.left) .submenu {
  border:4px solid #3d444e!important;
  border-bottom-left-radius:5px!important;
  border-bottom-right-radius:5px!important;
}

#header-bar .menu-button::after {
  content: none !important;
}

#header-bar .menu-button i {
  font-size: 0pt !important;
  color: transparent !important;
  position: fixed !important;
  right: 5px !important;
  top: 5px !important;
  z-index: 10 !important;
  transition: 0.5s color ease;
}

#header-bar .menu-button i::before {
  content: "\25BC" !important;
  font-size: 5pt !important;
}

#thread-watcher::before {
  margin-top: -36px !important;
  text-align: center !important;
  content: "WATCHED THREADS" !important;
  width: 166px !important;
  padding: 9px 0 6px 0 !important;
  background: #f4f5f5 !important;
  font-size: 10pt !important;
  font-weight: normal !important;
  position: absolute !important;
  left: 0 !important;
  z-index: 500 !important;
}

#thread-watcher {
  position: fixed !important;
  display: inline !important;
  padding-top: 36px !important;
  left: 0 !important;
  min-width: 167px !important;
  max-width: 167px!important;
  box-shadow: none !important;
  height: auto !important;
  white-space:pre!important;
  margin-right:15px!important;
  z-index: 500 !important;
}

#thread-watcher div {
  padding-right:15px!important;
}

#thread-watcher a {
  margin-left:-1px!important;
}

#thread-watcher > .move {
  margin-top: -30px !important;
  height: 15px !important;
  position: absolute !important;
  z-index: 800 !important;
  color: transparent !important;
  width: 165px !important;
  padding: 4px 0 6px 0 !important;
}

#thread-watcher div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher .close {
  position: relative !important;
  float: right !important;
  left: 12px !important;
  top: -1px !important;
}

#thread-watcher div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher .close,
#thread-watcher .menu-button {
  visibility: collapse !important;
}

#thread-watcher:hover div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher:hover .close,
#thread-watcher:hover .menu-button {
  visibility: visible !important;
}

#thread-watcher a[href="javascript:;"] {
  position: relative !important;
  top: -27px !important; 
  right: -10px !important;
  height: 10px !important;
}

#thread-watcher a[href="javascript:;"]:not(i) {
  color: transparent !important;
}

.closed {
  padding-top:20px!important;
  padding-bottom:20px!important;
}

#unread-line {
  display:block!important;
  margin-top: -2px!important;
  padding-bottom:1px!important;
  border-top: 1px dotted !important;
  height:1px !important;
  border-color:#3d444e!important;
}

/**
    Global Message
*/

.hide-announcement {
  width: 100% !important;
  z-index: 10 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 0 !important;
}

.hide-announcement::after {
  text-align: center !important;
  left: 27% !important;
  margin-top: -10px !important;
  position: absolute !important;
  float: none !important;
  margin-left: 250px !important;
  color: #ad4541 !important;
  content: "Hide Announcement";
  font-size: 12pt !important;
}

#globalMessage {
  margin-right: 23px !important;
  margin-left: 190px !important;
  margin-top: 30px !important;
  background-color: #fff !important;
  z-index: 0 !important;
  border-radius: 5px !important;
  box-shadow: -1px 1px 1px rgba(0,0,0,.08);
  padding: 5px 0 !important;
}

#globalMessage h3 {
  font-size: 10pt !important;
  color: #5F5F5F !important;
  font-weight: normal !important;
  margin: 2px !important;
}

#globalMessage strong, h2 {
  margin: 2px !important;
  font-size: 10pt !important;
  color: #5F5F5F !important;
  font-weight: normal !important;
}

/**
    Main Colours
*/

#thread-watcher::before,
#board-list::after {
  color: #a3a3a3 !important;
}

body {
  background: #f2f2f2 !important;
  color: #454545 !important;
}

#header-bar {
  background: #fff !important;
  border-right: 1px solid #dedede !important;
}

.cataloglink a::before,
.navLinks.navLinksBot a[href*="catalog"]::after,
.cataloglink a::after,
.navLinks.navLinksBot a[href*="catalog"]::before,
#header-bar .menu-button i::before,
.settings-link.fa-wrench:before {
  color: #babcbe !important;
}

#thread-watcher,
#thread-watcher a,
#header-bar a {
  color: #aaa !important;
  font-weight: 400 !important;
  font-size: 9pt !important;
}

#dump-button:hover,
.globalMessage a:hover,
.hand,
.posteruid,
.postertrip,
.abbr a:hover,
.pages a:hover,
.pages strong a,
#qr:hover::before,
.quotelink:hover,
.backlink:hover,
.inline .backlink:hover,
.postMessage .linkify:hover,
.embedder:hover,
.fileText a:hover,
.summary:hover,
#thread-watcher a:hover,
#board-list a:hover {
  color: #5f5f65 !important;
}

.hand:hover,
.posteruid:hover,
.posteruid:hover .hand{
  color: #434347 !important;
}

.name {
  font-weight: 500 !important;
  color: #49637d !important;
}

.useremail {
  color: #999 !important;
  font-style: italic !important;
  text-decoration: none !important;
}

a.useremail[href*='sage'] .name,
a.useremail[href*='Sage'] .name,
a.useremail[href*='SAGE'] .name,
a.useremail[href*='sage'] .postertrip,
a.useremail[href*='Sage'] .postertrip,
a.useremail[href*='SAGE'] .postertrip {
  color: #a16c6c !important;
  font-weight: normal !important;
} 

a.useremail[href*='sage'] .name:hover,
a.useremail[href*='Sage'] .name:hover,
a.useremail[href*='SAGE'] .name:hover,
a.useremail[href*='sage'] .postertrip:hover,
a.useremail[href*='Sage'] .postertrip:hover,
a.useremail[href*='SAGE'] .postertrip:hover {
  color: #a12b2b !important;
  transition: all 0.3s ease 0s;
}

.nameBlock a:hover::after {
  content: "(" attr(href) ")";
  margin-left: 3px;
  color: #a6a6a6 !important;
  transition: all 0.3s ease 0s;
}

.pages a,
.summary,
.dateTime {
  color: #a6a6a6 !important;
}

.postNum a {
  color: #7c818c !important;
}

.backlink,
.inline .backlink,
a.quotelink {
  color: #999 !important;
}

.quotelink.inlined,
.backlink.inlined,
.inlined {
  color: #5f5f65 !important;
  font-style: italic !important;
  opacity: 1 !important;
}

.warning,
.deadlink,
.deadlink.quotelink,
.postMessage strong {
  color: #d56b6b !important;
  font-weight: normal !important;
}

.backlink {
  font-size: 0 !important;
}

.backlink:first-of-type {
  margin-left: 10px !important;
}
    
.backlink:after {
  content: url('http://i.imgur.com/hgZtiTC.png') !important;
  font-size: 9pt !important;
  margin-right: 4px !important;
}

.backlink:hover::after,
.backlink.inlined::after {
  content: url('http://i.imgur.com/iDyadDD.png') !important;
}

.highlight-own:root .yourPost > .post.reply {
  box-shadow: 0 0 0 1px rgba(65, 131, 173, .5)!important;
  border: none !important;
}

.highlight-you:root .quotesYou > .post.reply {
  box-shadow: 0 0 0 1px rgba(173, 69, 65, .5)!important;
  border: none !important;  
}

.exblock.reply,
.reply.post.highlight,
.reply.post:target,
.post.reply.qphl,
.post.op.qphl {
  box-shadow: 0 0 0 1px rgba(173, 69, 65, .5)!important;
  outline: none !important;
}

.fileText,
.file a {
  color: #828282 !important;
  text-decoration: none !important;
  font-style: italic !important;
}

.quote {
  color: #093 !important;
}

.subject {
  color: #7a7f88 !important;
  font-weight:600!important;
}

.quote a,
.prettyprint a,
.prettyprint a:hover {
  color: inherit !important;
  font-family: inherit !important;
  cursor: text !important;
}

.prettyprint span {
  font-family: "Consolas", monospace !important;
}

.prettyprint {
  font-size: 9pt !important;
  background-color: rgba(255,255,255,.7) !important;
  border: solid 1px rgba(95,95,95,.5) !important;
  max-width: 700px!important;
}

.abbr a,
.embedder,
.linkify,
.globalMessage a,
.fileThumb > img:first-child {
  color: #999!important;
}

#fourchanx-settings.dialog a {
  color: #49637d !important;
}

#fourchanx-settings.dialog a:hover {
  color: #2f4052 !important;
}

/**
    Page Links
*/

.pagelist {
  float: none !important;
  width: 100% !important;
  height:20px!important;
  margin: 0 auto 0 auto!important;
  padding:0!important;
  font-size: 9pt !important;
  color: transparent !important;
  background: transparent !important;
  border: none !important;
  white-space: nowrap !important;
}

.pages {
  text-align: center !important;
  float: none !important;
}

.next,
.prev,
.pages.cataloglink,
.pagelist .prev input,
.pagelist .next input {
  position: relative !important;
  -moz-appearance: none !important;
  width: 0 !important;
  background: none !important;
  color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/**
    Settings screen
*/

#options.reply.dialog {
  background: #fff !important;
  color: #717171 !important;
  border: none !important;
  z-index: 5 !important;
}

#options.reply.dialog label {
  text-decoration: none !important;
  font-style: italic !important;
  color: #494949 !important;
}

#optionsbar {
  border-bottom: 1px solid #eceef0 !important;
  margin: -5px !important;
  padding: 5px !important;
}

#fourchanx-settings.dialog {
  background: #fff !important;
}

.dialog {
  background: none !important;
  color: #2e3033 !important;
  border: transparent !important;
}

.dialog a,
.dialog label {
  text-decoration:none!important;
}

#optionsContent > input:checked + div,
#updater:hover > div,
#updater .move,
#qr.dump #replies,
.hasSubMenu.focused > .subMenu {
  display: block;
}

/**
    Quick reply
*/

#qr {
  border-radius: 0 0 5px 5px !important;
}

#qr.dialog {
  padding: 5px !important;
  position: fixed !important;
  display: inline !important;
  visibility: hidden !important;
  top: -216px !important;
  right: 0px !important;
  left: auto !important;
  width: 300px !important;
  background: #3d444e !important;
  box-shadow: none !important;
  z-index: 2 !important;
  transition: all 0.5s ease;
}

#qr.dialog.has-captcha:not([Hidden]),
#qr.dialog:not([Hidden]) {
  visibility: visible !important;
  top: 35px !important;
}

#qr.dialog.has-captcha {
  top:-298px !important;
  transition: all 0.9s ease;
}

#qr .move {
  position: fixed !important;
  float: right !important;
  left: 151px !important;
  bottom: -2px !important;
  margin-top: 0px !important;
  font-size: 0px !important;
  color: transparent !important;
  background-color: transparent !important;
  height: 25px !important;
  max-width: 15px !important;
  min-width: 15px !important;
  cursor: default !important;
}

#qr > div {
  max-width: 400px !important;
  width: 400px !important;
}

#qr select {
  display: none !important;
}

textarea.field {
  height: 17em !important;
  margin-bottom: -1px !important;
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
}

.field {
  border: none !important;
}

.field:hover,
.field:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .12) !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgb(153, 153, 153) !important;
}

#qr-filename-container {
  border-bottom-left-radius:4px!important;
  margin-bottom: 3px !important;
  border-left: 1px solid #dedede !important;
  overflow: hidden !important;
  max-height: 19px !important;
  min-width: 74.3% !important;
  max-width: 74.3% !important;
}

#qr.has-spoiler .has-file #qr-filename-container {
  min-width: 68.3% !important;
  max-width: 68.3% !important;
}

#qr-spoiler-label {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  max-height: 19px !important;
  min-height: 19px !important;
  margin-left: -1px !important;
  background: white !important;
}

#qr-spoiler-label input {
  top: 1px !important;
}

#qr-filename {
  min-width: 92% !important;
  max-width: 92% !important;
  overflow: hidden !important;
}

#file-n-submit {
  height: 20px !important;
  border-bottom: 1px solid #dedede !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

#file-n-submit input {
  width: 25.5% !important;
}

#file-n-submit.has-file input {
  margin-left: -2px !important;
  width: 25.9% !important;
}

#qr-filerm {
  color: #999 !important;
  bottom: 2px !important;
  right: 10px !important;
}

#qr [type=file] [type=text]:focus {
  border: 1px solid grey !important; 
}

textarea,
.field,
#qr [type=file] [type=text] {
  -moz-appearance: none !important;
  background-color: #fff !important;
  font-size: 12px !important;
  vertical-align: middle !important;
}

select,
textarea:not(:focus),
.field:not(:focus) {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
  background: #fff !important;
}

#qr [type=file] [type=text]:not(:focus) {
  background: #fff !important;
}

#qr [type=file] [type=text] {
  float: right !important;
}

#dump-button:hover,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled] {
  background-color: #fafafa !important;
}

input[type="submit"] {
  margin-top: 1px !important;
  background: #fff !important;
  text-align: center !important;
  margin-left: -1px !important;
  padding-bottom:1px!important;
  width: 25.2% !important;
  cursor: pointer !important;
  background-repeat: repeat-x !important;
  border: none !important;
  border-top: 1px solid #ddd !important;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-image: none !important;
  -moz-appearance: none !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
}

input[type="submit"] {
  border-top:none!important;
  border-right: 1px solid #dedede !important;
  border-bottom-right-radius:4px!important;
}

input[name="name"],
input[name="email"],
input[name="sub"] {
  border-top: 1px solid #dedede !important;
  max-height: 23px !important;
  min-height: 23px !important;
}

input[name="sub"] {
  border-right: 1px solid #dedede !important;
}

.persona {
  max-height: 20px !important;
  min-height: 20px !important;
}

.captcha-img {
  margin-top:0!important;
  margin-bottom:-1px!important;
  min-width:300px!important;
  max-width:300px!important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
  border:none!important;
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
}

.captcha-img > img {
  margin-left:0px!important;
  margin-top:5px!important;
  visibility:visible!important;
  min-width:298px!important;
  max-width:298px!important;
  border-bottom: transparent !important;
}

.captcha-input.field {
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
  margin-top:-1px!important;
  margin-bottom:-1px!important;
}

#replies > div {
  border-top: 1px solid rgba(0, 0, 0, .094) !important;
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
}

#replies > div .thumbnail {
  background-color: rgba(160,160,160,.5) !important;
}

#dump-list-container {
  margin-bottom: -1px !important;
  background: #fff !important;
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
}

#add-post {
  color: #999 !important;
}

.qr-preview {
  margin-bottom: 1px !important;
}

/**
    Menu Button
*/

.menu-button i {
  color: transparent !important;
}
 
.menu-button {
  float: right !important;
  margin-top: 0 !important;
  margin-right: 15px !important;
  margin-left: 10px !important;
  font-size: 0 !important;
}
 
.menu-button::after {
  content: "\25BE" !important;
  font-size: 6pt !important;
  color: #999 !important;
}
 
.menu-button:hover::after {
  color: #666 !important;
}
 
.post.op .menu-button::after {
  color: #999 !important;
}
 
.post.op .menu-button:hover::after {
  color: #069 !important;
}
 
.post.op .menu-button {
  position: absolute !important;
  top: 3px !important;
  right: 2px !important;
  margin-left: 0 !important;
}
 
#menu.reply.dialog {
  display: block !important;
  margin-left: 0 !important;
  margin-top: -1px !important;
  border: 1px solid #ccc !important;
}
 
.subMenu {
  left: -105px !important;
  width: 100px !important;
}

.entry,
.entry a,
.subMenu {
  background: #ffffff !important;
  color: #999 !important;
  font-size: 8pt !important;
  border:none!important;
}

.entry:hover,
.entry a:hover {
  color: #49637d !important;
}


/**
    Hide threads / posts
*/

.stub span,
.sideArrows,
.hide-reply-button.stub span {
  color: transparent !important;
  font-size: 0 !important;
}

.postContainer .stub:first-of-type,
.postContainer .stub {
  margin-top:0px!important;
}

.stub {
  padding: 0 0 0 0 !important;
  margin-top:24px!important;
  width: 100% !important;
  background: #e5e5e5 !important;
  border-radius: 5px !important;
  min-height: 20px !important;
  max-height: 20px !important;
}

.stub:first-of-type {
  margin-top: 25px !important;
}

.hide-reply-button {
  position: relative !important;
  float: right !important;
  margin-top: 2px !important;
  margin-right: 8px !important;
  z-index: 1;
  font-size: 0 !important;
}

.hide-thread-button {
  position: absolute !important;
  float: right !important;
  top: 2px !important;
  margin-right: 8px !important;
  right: 0 !important;
  z-index: 1;
  font-size: 0 !important;
}

.hide-thread-button span::before,
.hide-reply-button span::before {
  content: "-" !important;
  font-size: 9pt !important;
  color: #999 !important;
  z-index: 5 !important;
}

.stub .menu-button,
.hide-reply-button.stub .menu-button {
  font-size: 0px !important;
  color: transparent !important;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif !important;
  margin-top: 3px !important;
  margin-right: 3px !important;
}

.stub span:not(.dropmarker)::before {
  float: right !important;
  margin-top: 0px !important;
  margin-right: 7px !important;
  content: "+" !important;
  font-size: 9pt !important;
  color: #999 !important;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif !important;
}
 
.stub a {
  margin-left: 0px !important;
  color: #999 !important;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif !important;
  font-size: 8pt !important;
  padding-left: 2px !important;
}

.stub > a:hover {
  color: #666 !important;
}

/**
    Updater
*/

#thread-stats {
  position: fixed !important;
  left: 5px !important;
  right: auto !important;
  bottom: 4px !important;
  top: auto !important;
  border: none !important;
  z-index: 4 !important;
  font-size: 9pt !important;
  color: #b3b3b3 !important;
  background: none !important;
}

#update-timer {
  position: fixed !important;
  left: 5px !important;
  right: auto !important;
  bottom: 18px !important;
  top: auto !important;
  border: none !important;
  z-index: 4 !important;
  font-size: 9pt !important;
  color: #b3b3b3 !important;
  background: none !important;
}

#update-status.new {
  position: fixed !important;
  left: 17px !important;
  right: auto !important;
  bottom: 18px !important;
  top: auto !important;
  border: none !important;
  z-index: 4 !important;
  font-size: 9pt !important;
  background: none !important;
}

}

@-moz-document regexp("https?://boards\\.4chan\\.org\\/(.|..|...|....)\\/catalog") {

#globalToggle,
#first-run,
#globalMessage,
#toggleMsgBtn,
#filters-ctrl,
#qf-clear.button,
#styleSwitcher {
  display: none !important;
}

body {
  color: #5F5F5F !important;
  margin-left: 190px !important;
  margin-right: 23px !important;
}

#content {
  position: inherit !important;
}

.btn-wrap {
  font-size: 0 !important;
}

#settings  {
  width: 100% !important;
}

#settings,
#threads,
#info .navLinks,
#content .navLinks {
  text-align: center !important;
}

#ctrl,
#qf-ctrl.button {
  font-size: 9pt !important;
  color: #5f5f5f !important;
  text-decoration: none !important;
  margin-top: 25px !important;
}

#qf-box {
  outline: none !important;
}

input:focus, 
textarea:focus {
  border: none !important;
}

#settingsWindowLink {
  font-size: 0 !important;
}

#settingsWindowLink::after {
  content: "Catalog Settings" !important;
  position: fixed !important;
  bottom: 5px !important;
  left: 8px !important;
  font-size: 9pt !important;
  font-weight: normal !important;
}

#theme {
  background: #fff !important;
}

}
